<i>
<style>
  body{
    background:#0B2429;
  }
  i {
    position: fixed;
    width: 205px;
    height: 205px;
    background: #F3AC3C;
    top: -105px;
    left: -104px;
    transform: rotate(45deg);
  }
</style>