<div >
    <div class="circle c1" >
        <div class="circle black" > </div >
    </div >
    <div class="circle c2" >
        <div class="circle black" > </div >
    </div >
</div >

<style >
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #09042A;
    }

    .circle {
        border-radius: 50%;
    }

    .c1 {
        overflow: hidden;
        width: 150px;
        height: 150px;
        position: absolute;
        right: 175px;
        bottom: 75px;
        background: #7B3F61;
    }

    .c2 {
        overflow: hidden;
        width: 150px;
        height: 150px;
        position: absolute;
        right: 75px;
        bottom: 75px;
        background: #E78481;
    }

    .c1 .black {
        width: 150px;
        height: 150px;
        position: relative;
        right: -100;
        bottom: 0;
        background: #09042A;
    }

    .c2 .black {
        width: 150px;
        height: 150px;
        position: relative;
        right: 100;
        bottom: 0;
        background: #09042A;
    }

</style >