<div id="a"/>
<div id="b"/>
<div id="c"/>
<div id="d"/>
<style>
  body{
    background: #62306D;
  }
   #a {
    position: fixed;
    border-top-left-radius : 50%;
    border-top-right-radius : 50%;
    width: 100px;
    height: 100px;
    left: 80px;
    top: 50px;
    background: #AA445F;
  }
  #b {
    position: fixed;
    border-bottom-left-radius : 50%;
    border-bottom-right-radius : 50%;
    width: 100px;
    height: 100px;
    left: 220px;
    top: 150px;
    background: #E38F66;
  }
    #c {
    position: fixed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 80px;
    top: 100px;
    background: #F7EC7D;
  }
  #d {
    position: fixed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 220px;
    top: 100px;
    background: #F7EC7D;
  }
</style>