<div id="a"/>
<div id="b"/>
<div id="c"/>
<style>
  body{
    	background: #62306D;
  }
  #a,#b,#c{
    	position: fixed;
    	background: #F7EC7D;
    	width: 100px;
    	height: 100px;
  }
  #a,#c{
    top: 50%;
    border-radius: 0px 0px 50px 50px;
  }
  #a{
    left: 12.5%;
  }
  #b{
    top: 16.5%;
    left: 37.5%;
    border-radius: 50px 50px 0px 0px;
  }
  #c{
    left: 62.5%;
  }
</style>